<section class="section reveal active" id="categories">
    <div class="section-title">
        <span>Shop By Category</span>
        <h2>Luxury Collections</h2>
    </div>
 <hr class="hr_tag">
    <div class="category-grid" id="categoryGrid">

        {% for sub_category in sub_categories %}

            <a href="{% url 'pages:subcategory_products' sub_category.slug %}" class="category-card" data-cat="{{ sub_category.name }}">
                <span>{{ sub_category.name }}</span>
            </a>

        {% empty %}

            <p>No sub categories found.</p>

        {% endfor %}

    </div>
</section>